

footer{
    background-color: slategray;
}

h4{
  margin-bottom: 0;
}

}
    header{
        background-color: darkcyan;
    }

    section{
        background-color: darkcyan;
    }
    header{
        color: slategray;
    }